html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	height: 100vh;
	width: 100vw;
	font-family: sans-serif;
	font-weight: 600;
}

.container {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr 5fr;
	min-height: 100vh;
}

header {
	grid-column: 2 / 6;
	grid-row: 1 / 2;
}

main {
	grid-column: 2 / 6;
	grid-row: 2 / 6;
}

.sidebar {
	grid-column: 1 / 2;
	grid-row: 1 / 6;
	display: grid;
	grid-template-columns: repeat(2, 1.5rem) 1fr;
	grid-template-rows: 3rem repeat(11, 1.5rem);
	gap: 1vh 1vw;
	align-items: center;
	background-color: #1992D4;
	color: #FFFFFF;
	font-size: 1.5rem;
	padding: 2vh 1vw;
}

.vertFlex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.searchBar {
	flex: 1;
}

.horFlex {
	display: flex;
	justify-content: space-between;
}

main {
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: 1fr 1fr;
	background-color: #E2E8F0;
	gap: 1vw;
	padding: 2vh 1vh;
}

.projects {
	display: grid;
	grid-template-rows: 1.3rem 1fr;
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	gap: 2vh;
}

.project {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 0.4vw 1fr;
	box-shadow: 0px 2px 5px -5px rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	background: #FFFFFF;
}

.yellowLine {
	grid-column: 1 / 2;
	grid-row: 1 / 9;
	background-color: #F6CA3B;
	width: 0.4vw;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.flexEnd {
	justify-content: flex-end;
	gap: 1vw;
}

.projectName {
	grid-row: 1 / 2;
}

.projectDesc {
	grid-row: 2 / 3
}

.projectsCont {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 1fr);
}

.headerButton {
	background-color: #1992d4;
	color: #FFFFFF;
	padding: 1vh 1vw;
	user-select: none;
	border-radius: 1rem;
	text-align: center;
}

.headerButton:hover {
	cursor: pointer;
	background-color: #1578AD;
}

.icon {
	height: 1.5rem;
	width: 1.5rem;
	grid-column: 1 / 3;
	justify-self: center;
	background-size: contain;
}

.iconHeader {
	height: 1.5rem;
	width: 1.5rem;
	justify-self: center;
	background-size: contain;
}

.sidebarText {
	grid-column: 3 / 4;
}

.title {
	font-size: 2rem;
}

.projectsCont {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 1vw;
}

.projectDesc,
.annCont,
.trendName {
	font-size: 0.9rem;
	font-weight: 400;
}

.dashboardIcon {
	height: 3rem;
	width: 3rem;
	background-size: contain;
	grid-column: 1 / 3;
	justify-self: center;
	background-image: url(icons/view-dashboard.png);
}

header {
	display: grid;
	grid-template-rows: 1fr 2fr;
	padding: 2vh 1vw;
	box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.75);
	z-index: 2;
}

.searchGrid {
	display: grid;
	grid-template-columns: 1.5rem 40vw;
	grid-template-rows: 1fr;
	align-items: center;
	gap: 1vw;
}

.profileGrid {
	display: grid;
	grid-template-columns: 1.5rem 3rem 1fr;
	align-items: center;
	gap: 1vw;
}

.helloGrid {
	display: grid;
	grid-template-columns: 5rem 30vw;
	grid-template-rows: repeat(2, 1fr);
	align-items: center;
	gap: 1vw;
}

.buttonsGrid {
	width: 20vw;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 1vw;
}

.searchBar {
	background-color: #CCCCCC;
	border-radius: 50px;
	height: 1.5rem;
	width: min(45rem, 1fr);
}

.avatarSmall {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	background-size: contain;
}

.avatarBig {
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	background-size: contain;
	grid-row: 1 / 3;
}

.hello {
	font-size: 1rem;
	align-self: flex-end;
}

.nickname {
	font-size: 1.5rem;
	align-self: flex-start;
}

.mainTitle {
	font-size: 1.3rem;
}

.projectPadding {
	padding: 2vh 1vw;
	display: grid;
	grid-template-rows: 1.3rem 1fr 1.5rem;
}

.annGrid {
	display: grid;
	grid-template-rows: 1fr;
	gap: 2vh;
	background: #FFFFFF;
	border-radius: 5px;
	padding: 2vh 1vw;
}

.annGrid>div {
	gap: 1vh;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	padding-bottom: 2vh;
}

.annGrid>div:last-child {
	border: none;
}

.trendGrid {
	background: #FFFFFF;
	display: grid;
	grid-template-columns: 3rem 1fr;
	grid-template-rows: repeat(3, 3rem);
	padding: 2vh 1vw;
	gap: 2vh;
	align-items: center;
}

.mainGrid {
	display: grid;
	grid-template-rows: 1.3rem 1fr;
	gap: 2vh;
}

.trendInfoGrid {
	display: grid;
	grid-template-rows: repeat(2, 1rem);
	align-items: center;
	gap: 0.5vh;
}

.home {
	background-image: url(icons/home.png);
}

.profile {
	background-image: url(icons/account-card.png);
}

.messages {
	background-image: url(icons/message.png);
}

.history {
	background-image: url(icons/clock.png);
}

.tasks {
	background-image: url(icons/note.png);
}

.communities {
	background-image: url(icons/account-multiple.png);
}

.settings {
	background-image: url(icons/cog.png);
}

.support {
	background-image: url(icons/help-box.png);
}

.privacy {
	background-image: url(icons/shield-lock.png);
}

.searchIcon {
	background-image: url(icons/magnify.png)
}

.notifications {
	background-image: url(icons/bell.png);
}

.person {
	background-image: url(icons/orsvmyjihi738vem.png);
}

.star {
	background-image: url(icons/star-outline.png);
}

.fork {
	background-image: url(icons/source-fork.png);
}

.watch {
	background-image: url(icons/eye.png);
}

.authorOne {
	background: #EDE490;
}

.authorTwo {
	background: #9379ED;
}

.authorThree {
	background: #ED9685;
}

.authorFour {
	background: #A8EDD2;
}